@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}
td,th{
  padding: 1.5rem;
  
}
tr {
  transition: transform 0.2s ease; 
}

tr:hover {
  transform: scale(1.05); 
}
.contain-table {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
}


@media (max-width: 750px) {
  th, td {
    font-size: 0.5rem;
    padding: 0.3rem;
  }
}

